<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>

    <!-- css import -->
    <link href="~/css/common.css" rel="stylesheet" />

    <!-- script import -->
    <script src="~/scripts/jquery-3.1.1.min.js"></script>

</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
